{% extends 'networkcenter/deviceindex.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline-block"><i class="fa fa-laptop"></i> {{ tag | default:'所有设备'}}</h3>
                    <div class="btn-group pull-right">
                        {% if perms.networkcenter.add_device %}
                            <a class="btn btn-primary-outline" data-toggle="modal" data-target="#importdevice">设备导入</a>
                        {% endif %}
                        {% if perms.networkcenter.add_device %}
                            <a id="export" class="btn btn-primary-outline" data-toggle="modal" data-target="#exportdevice">设备导出</a>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body" style="padding: 5px">
                    <table class="table table-hover table-bordered" id="xx">
                        <thead>
                        <tr>
                            <th>序列号</th>
                            <th>机 房</th>
                            <th>机 柜</th>
                            <th>U 位</th>
                            <th>状 态</th>
                            <th>操 作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for idc in idcs %}
                            <tr>
                                <td>{{ idc.sn }}</td>
                                <td>{{ idc.idc.name }}</td>
                                <td>{{ idc.rack.name }}</td>
                                <td>{{ idc.position.name }}</td>
                                <td>{% if idc.status  %}
                                        <span class="label label-success">已分配</span>
                                    {% else %}
                                        <span class="label label-danger">未分配</span>
                                    {% endif %}
                                </td>
                                <td><a href="{% url "devicedetail" idc.id %}"  onclick="return showAddAnotherPopup(this);" data-toggle="tooltip" title="设备详情"><i class="fa fa-eye"></i></a>
                                    <a href="{% url "deviceedit" idc.id %}"  onclick="return showAddAnotherPopup(this);" data-toggle="tooltip" title="设备编辑"><i class="fa fa-edit"></i></a>
                                    <a href="{% url "deviceint" idc.id %}"  onclick="return showAddAnotherPopup(this);" data-toggle="tooltip" title="设备接口"><i class="fa fa-sitemap"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="importdevice" class="modal" style="display:none">
        <form id="importdeviceform" class="form-search" method="POST"  enctype="multipart/form-data" name="form"  action="{% url "importdevice" %}"> {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h4><i class="fa fa-cloud-upload"></i> 设备导入</h4>
                    </div>
                    <div class="modal-body">
                        <div class="importdevice" style="display: none">
                            <span class="importing">设备导入中ing... 请稍后</span>
                            <div class="progress progress-striped active">
                                 <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
                            </div>
                        </div>
                        <table class="table-responsive"  style="margin-top: 20px">
                            <tbody>
                            <tr>
                                <th>
                                    <label for="id_file">上传文件: </label>
                                </th>
                                <td>
                                    <input type="file" name="file" id="id_file" style="padding: 5px">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><span class="help-block">目前支持Excel格式导入. <a href="/static/bootstrap/img/myhost.xlsx">模板下载</a> </span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <span class="errorInfo excel" style="color:red;margin-right:100px"></span>
                        <a href="#" class="btn btn-warning" data-dismiss="modal">取消</a>
                        <input type="submit" class="btn btn-warning" value="导入">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="exportdevice" class="modal" style="display:none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-cloud-download"></i> 设备导出</h4>
                </div>
                <div class="modal-body">
                    <div class="progress progress-striped active">
                          <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                          </div>
                    </div>
                    <span class="outing">设备导出中ing... 请稍后</span>
                    <span class="outend help-block">导出完毕,请点击下载: <a href="/static/bootstrap/img/device.xls">下载</a> </span>
                </div>
                <div class="modal-footer">
                    <span class="errorInfo excel" style="color:red;margin-right:100px"></span>
                    <a href="#" class="btn btn-warning" data-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>
    <script>
       $(function(){
           $('.id_year_of_purchase').datetimepicker({
                dateFormat: "yy-mm-dd",
                alwaysSetTime: false,
                altFieldTimeOnly: true
           });
           var options = {
               success: function (data) {
                    data = JSON.parse(data);
                    if (data.code == 1){
                        $(".progress-bar").css('width','100%');
                        $(".importing").text("导入成功");
                    }else if (data.code == 0){
                        $(".table-responsive").show();
                        $(".excel").text(data.message['auth']);
                    }
               }
           };
           $("#importdeviceform").submit(function(){
               $(".importdevice").show();
               $(".table-responsive").hide();
               $("#importdeviceform").ajaxSubmit(options);
               $(".excel").text("");
               return false;
           });
           $("#export").click(function(){
               $(".outend").hide();
               $.get("/networkcenter/exportdevice",function(data){
                   data = JSON.parse(data);
                   if (data.code ==1){
                       $(".progress-bar").css('width','100%');
                       $(".outing").hide();
                       $(".outend").show();
                   }else if (data.code == 0){
                        $(".excel").text(data.message['auth']);
                   }
               })
           })
       });
       function devtoowt(devid, owtid){
           $.get("device/"+devid+"/owt/"+owtid,function(data){
               data = JSON.parse(data);
               if (data.code ==1){
                   window.location=window.location.href;
               }else if (data.code == 0){
                   alertify.alert(data.message['auth']);
               }
           })
       }
    </script>
{% endblock %}