{% extends 'networkcenter/base.html' %}
{% block content %}
    <script>
        $(function () {
            var options = {
                success: function (data) {
                    data = JSON.parse(data);
                    if (data.code == 1){
                        alertify.alert("修改成功");
                        $('#alertify-ok').live("click",function(){
                            window.location=document.referrer;
                        });
                    }else if (data.code == 0){
                        $(".name").text(data.message['name']);
                        $(".cop").text(data.message['cop']);
                        $(".registrar").text(data.message['registrar']);
                        $(".remark").text(data.message['remark']);
                    }
                }
            };
            // ajaxForm
            $("#businessform").ajaxForm(options);
        })
    </script>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ idcs.name }} 编辑</h3>
                </div>
                <div class="panel-body">
                      <form id="businessform" class="form-search" method="POST"  enctype="multipart/form-data" name="form"> {% csrf_token %}
                          <table>
                             <tbody>
                                <tr>
                                    <th><label for="id_name">域名:</label></th>
                                    <td>{{ form.name }}</td>
                                    <td class="name auth errorInfo fa fa-star"></td>
                                </tr>
                                <tr>
                                    <th><label for="id_cop">公司:</label></th>
                                    <td>{{ form.cop }}</td>
                                     <td class="cop errorInfo"></td>
                                </tr>
                                <tr>
                                    <th><label for="id_registrar">注册商:</label></th>
                                    <td>{{ form.registrar }}</td>
                                     <td class="registrar errorInfo"></td>
                                </tr>
                                <tr>
                                    <th><label for="id_remark">备注:</label></th>
                                    <td>{{ form.remark }}</td>
                                     <td class="remark errorInfo"></td>
                                </tr>
                             </tbody>
                          </table><br>
                          <a class="btn btn-default" href="javascript:history.go(-1);" >返回</a>
                          <input type="submit" class="btn btn-warning" value="保存" id="Save" >
                          <span class="errorInfo" style="color:red;margin-right:150px;"></span>
                      </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">{{ idcs.name }} 统计</h3>
                    </div>
                    <div class="panel-body">
                    </div>
            </div>
        </div>
    </div>
{% endblock %}