<footer>
    <div style="text-align:center;padding: 25px 0 25px 0">
        <p>@2013 Lefeng.com Ops Team </p>
    </div>
{#    <div style="position: absolute;bottom: 0;">#}
{#    </div>#}
    <script src="/static/bootstrap/js/jquery.form.js"></script>
    <script src="/static/bootstrap/js/jquery-ui.min.js"></script>
    <script src="/static/bootstrap/js/jquery-ui-timepicker-addon.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/bootstrap/js/alertify.js"></script>
    <script src="/static/bootstrap/js/jquery.cookie.js"></script>
    <script src="/static/bootstrap/js/RelatedObjectLookups.js"></script>
    <script src="/static/bootstrap/js/raphael.js"></script>
    <script src="/static/bootstrap/js/chinamapPath.js"></script>
    <script src="/static/bootstrap/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/static/bootstrap/js/jquery-jvectormap-cn-merc-cn.js"></script>
    <script src="/static/bootstrap/js/highcharts.js"></script>
    <script src="/static/bootstrap/js/jquery.easyui.min.js"></script>
    <script src="/static/bootstrap/js/jquery.dataTables.min.js"></script>
</footer>